{% extends "index.html" %}
{% block content %}
      <article>
				<section>
					<h2>Guitar Songs</h2>
					<p>Welcome to my website</p>
					<p>Click <a href="/tabs">here</a> for a list of guitar tabs</p>
					<p>
						<section class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-pause-on-hover="true" data-cycle-speed="100">
						<img src="/static/images/row1.jpg" alt=""/>
						<img src="/static/images/row2.jpg" alt=""/>
						<img src="/static/images/row3.jpg" alt=""/>
					</p>	
				</section>
			</article>
{% endblock %}
